:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.sidenav-container {
  flex: 1;
}

.sidenav {
  width: 220px;
}

.content {
  padding: 24px;
}

.active {
  font-weight: 500;
}

.user-email {
  font-size: 14px;
  margin-right: 8px;
}
