h2 {
  margin: 0 0 16px;
}

.state-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 48px 0;
}

.empty-state {
  color: rgba(0, 0, 0, 0.54);
  font-size: 16px;
  flex-direction: column;
  gap: 12px;
  text-align: center;
}

.empty-icon {
  font-size: 48px;
  height: 48px;
  width: 48px;
  color: rgba(0, 0, 0, 0.2);
}

.login-cta {
  background-color: var(--ts-primary) !important;
  color: white !important;
}

.error-card {
  background-color: #fdecea;
  color: #611a15;
}

.watchlist-table {
  width: 100%;
}
